.menu {
  display: flex;
}

.menu-button {
  display: none;
}

@media (orientation: portrait) {
  .menu.menu-hidden {
    display: none;
  }

  .menu.menu-visible {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    border: solid 1px #ddd;
    padding: 1em;
    line-height: 1.9em;
    box-shadow: 0 0 3px #ddd;
    margin-top: 0.5em;
  }

  .menu-button {
    display: block;
    width: 1.5em;
  }
}
