.apartment {
  position: relative;
  display: flex;
  padding: 0.5em 0.3em 0.5em 0.6em;
  align-items: flex-start;
  cursor: pointer;
}

.apartment:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0.4em 0 0.3em;
  border-bottom: solid 1px #ddd;
}

.apartment:hover {
  box-shadow: 0 0.05cm 0.15cm #ddd;
}

.apartment-image-container {
  flex: 1;
}

.apartment-image {
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.15cm;
  margin-right: 1em;
}

/* adjust height of .apartment-image */
.apartment-image:before {
  display: block;
  content: '';
  padding-top: calc(min(10em, 130%));
}

.apartment-info {
  flex: 1;
  overflow: hidden;
  color: #aaa;
}

.apartment-price,
.apartment-address {
  color: black;
}

.apartment-info > * {
  font-size: 70%;
  line-height: 160%;
}

.apartment-price {
  font-weight: bold;
  font-size: 120%;
}

.apartment-type,
.apartment-date-add {
  padding-top: 0.7em;
}

.apartment-description > * {
  display: inline;
}

.apartment-description > *:not(:last-child):after {
  content: ' • ';
  padding: 0 0.3em;
}
