.App-mobile-menu {
  display: none;
}

.show-map-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 2em;
  margin: 1em;
  background-color: white;
  border-radius: 50%;
  padding: 0.5em;
  box-shadow: 1px 1px 5px #ddd;
}

@media (orientation: portrait) {
  .App-mobile-menu {
    display: flex;
  }
}
