.App-header {
  background-color: #ffffff;
  padding: 8px;
  border-bottom: solid 1px #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-menu {
  display: flex;
}
