.App-logo {
  height: 2em;
  pointer-events: none;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-body {
  display: flex;
  justify-content: stretch;
  flex: auto;
  overflow: hidden;
}

.App-body > * {
  flex: 1;
}

.App-body .App-map {
  height: 100%;
}

@media (orientation: portrait) {
  .App-map {
    display: none;
  }
}
