.App-map {
  height: 500px;
  position: relative;
}

.map-container {
  height: 100%;
}

.map-zoom-panel {
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 3px #ddd;
  cursor: pointer;
}

.map-zoom-button {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 0;

  font-size: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.map-zoom-button > * {
  transform: translate(0, -0.1em);
}

.map-zoom-in {
  border-bottom: solid 1px #ddd;
}
